.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .custom-dropdown.margin-bottom {
    margin-bottom: 15px;
  }
  
  .custom-dropdown-selected {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-dropdown-selected .dropdown-arrow {
    margin-left: 10px;
  }
  
  .custom-dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1000;
  }
  
  .custom-dropdown:hover .custom-dropdown-options {
    display: block;
  }
  
  .custom-dropdown-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .custom-dropdown-option.selected {
    background: #f0f0f0;
    color: #EE4D2D;
  }
  
  .custom-dropdown-option:hover {
    background: #e0e0e0;
  }
  
  .custom-dropdown-option img.icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }